<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>글 검색</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body class="bg-light">

<div class="container py-4">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="fw-bold">
      <a href="home" id="homeLink" class="text-dark text-decoration-none">같이가치</a>
    </h1>

    <div class="d-flex align-items-center gap-3">
      <a th:if="${isAuth}" th:href="@{/write}" class="btn btn-success">새 글쓰기</a>
      <a th:href="@{/search}" class="text-dark">
        <i class="fas fa-search fs-4"></i>
      </a>
      <a th:if="${user != null}" th:href="@{/userinfo/{username}(username=${user.getUsername()})}" class="text-dark fw-bold">
        <span th:text="|${user.getUsername()}님|"></span>
      </a>
    </div>
  </div>


  <form th:action="@{/write}" th:object="${post}" method="post">
    <div class="mb-3">
      <label for="title" class="form-label">글 제목</label>
      <input type="text" class="form-control" th:field="*{title}" id="title" placeholder="제목을 입력하세요" required>
    </div>

    <div class="mb-3">
      <label for="content" class="form-label">글 내용</label>
      <textarea class="form-control" th:field="*{content}" id="content" rows="5" placeholder="내용을 입력하세요" required></textarea>
    </div>

    <button type="submit" class="btn btn-success">글 작성</button>
  </form>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>