/* 기본 스타일 */
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    background-color: #f5f5f5;
}

/* 헤더 */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: white;
    border-bottom: 2px solid #e0e0e0;
}

.header-container a,
.header-container button {
    text-decoration: none;
    color: #333;
    font-weight: 700;
}

h1 a {
    font-size: 28px;
    color: #333;
    font-weight: 700;

    transition: color 0.3s ease-in-out;
}

h1 a:hover {
    color: #1abc9c;
}

/* 검색 아이콘 */
.search-icon {
    font-size: 24px;
    color: #333;
}

/* 버튼 공통 스타일 */
.trend-link, #submitBtn, #createBtn, #closeBtn, #closeBtn2{
    display: inline-block;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.trend-link {
    background-color: #1abc9c;
    color: white;
}

#loginBtn {
    background-color: #1abc9c;
    color: white;
}

#submitBtn {
    background-color: #1abc9c;
    color: white;
    width: 100%;
}

#submitBtn2 {
    background-color: #1abc9c;
    color: white;
    width: 100%;
}

#createBtn {
    background-color: black;
    color: white;
    width: 100%;
}

#closeBtn {
    background-color: orangered;
    color: white;
    width: 100%;
}

#closeBtn2 {
    background-color: gray;
    color: white;
    width: 100%;
}

.action-buttons a, .action-buttons button {
    color: #6c757d; /* Bootstrap의 text-muted 색상 (회색) */
    text-decoration: none; /* 링크 밑줄 제거 */
    font-size: 0.9rem; /* 글씨 크기 조정 */
    transition: color 0.3s ease; /* 호버 효과 부드럽게 */
}
/* 로그인 모달 */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    border-radius: 5px;
    text-align: center;
}

.post-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #212529;
    line-height: 1.2;
}
.post-subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    color: #6c757d;
}
.post-content {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #333;
}
.post-author {
    font-size: 0.9rem;
    color: #6c757d;
    margin-top: 20px;
}

.welcome-header {
    font-size: 2.5rem;
    font-weight: 700;
    color: #212529;
    margin-bottom: 2rem;
}
.section-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #343a40;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}



/* 반응형 스타일 */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        text-align: center;
    }

    .header-container a,
    .header-container button {
        margin: 5px 0;
    }

    .trend-link {
        display: block;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 400px) {
    .modal-content {
        padding: 15px;
    }
}
