/* css/styles.css */

*{
    padding: 0;
    margin: 0;
    border: none;
}
body{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
h2 {
    color: #333;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif; /* 예쁜 한글 폰트 */
    font-size: 24px; /* 조금 크게 */
    font-weight: 700; /* 두껍게 */
    letter-spacing: -1px; /* 글자 간격 조정 */
    margin-bottom: 20px;
}

table {
    width: 280px;
    height: 300px;
    margin: auto;
}

form {
    display: flex; /* flexbox 사용 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    height: 100vh; /* 화면 전체 높이 사용 */
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f5f5f5;
}


input {
    padding: 10px; /* 내부 여백 */
    width: 200px; /* 너비 */
    border-radius: 10px; /* 모서리 둥글게 */
    font-size: 16px; /* 글자 크기 */
}


button {
    padding: 8px 16px;
    margin-top: 10px;
    cursor: pointer;
}

#btn  {
    width: 220px;
    background-color: #1abc9c;
    color: white;
    margin-top: 20px;
}



@media (max-width: 600px) {
    .modal-content {
        width: 85%;
        padding: 15px;
    }
}

@media (max-width: 400px) {
    .modal-content {
        width: 90%;
        padding: 10px;
    }
}