<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="clonecoding.velog_clone.mapper.PostMapper">

    <!-- 글 작성 -->
    <insert id="insertPost" parameterType="Post">
        insert into Post (title, content, userid, username, subtitle)
        values (#{title}, #{content}, #{userid}, #{username}, #{subtitle})  <!-- 작성자 정보 추가 -->
    </insert>

    <!-- 글 조회 (username 기준) -->
    <select id="selectPostByUsername" resultType="Post">
        select * from Post where username = #{username} ORDER BY created_at DESC
    </select>
    
    <!-- 전체 post 조회 -->
    <select id="selectAllPost">
        select * from Post ORDER BY created_at DESC
    </select>
    
    <select id="selectPostByTitle" resultType="Post">
        select * from Post where title = #{title}
    </select>

    <select id="selectPostById" resultType="Post">
        select * from Post where id = #{id}
    </select>

    <!-- 글 수정 (글의 id 값을 보고 수정)-->
    <update id="updatePost" parameterType="Post">
        update Post
        set title = #{title}, content = #{content}, subtitle = #{subtitle}
        where id = #{id}
    </update>

    <!-- 글 삭제 (글의 id 값을 보고 삭제) -->
    <delete id="deletePost">
        delete from Post where id = #{id}
    </delete>


</mapper>
