<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- User 를 crud 하는 xml 파일 -->

<mapper namespace="clonecoding.velog_clone.mapper.UserMapper">
    <insert id="insertUser" parameterType="User">
        insert into User (username, password, email, phone)
        values (#{username}, #{password}, #{email}, #{phone})
    </insert>

    <select id="selectUser" resultType="User">
        select * from User where username = #{username}
    </select>
    
    <update id="updateUser" parameterType="User">
        update User set password = #{password}, email = #{email}, phone = #{phone}
        where id = #{id}
    </update>

    <delete id="deleteUser">
        delete from User where id = #{id}
    </delete>
</mapper>